@using NewsEngine.Models;
@{
    ViewBag.Title = "Razor тест";
}
<h2>@ViewBag.Title</h2>
<h3>@ViewBag.Message</h3>

@if (User.IsInRole("admin"))
{
    <h3>Приветствуем, Админ!</h3>
}
else if (User.Identity.IsAuthenticated)
{
    <h3>Приветствуем, @User.Identity.Name!</h3>
}
else
{
    <h3>Приветствуем, Гость!</h3>
}
<h4>1.5.1 Вывод текущей даты</h4>
<h1>Сегодня @DateTime.Now.ToString("D")</h1>

@section Photo {
    <img src="/images/news.jpg" height="300" />
}

@section RazorExample {
    @{List<Person> Persons = new List<Person>();
      Person person0 = new Person() { id = 0, name = "0", age = 0, place = "0" };
      Person person1 = new Person() { id = 1, name = "Иван", age = 27, place = "Саратов" };
      Person person2 = new Person() { id = 2, name = "Василий", age = 56, place = "Челябинск" };
      Person person3 = new Person() { id = 3, name = "Петр", age = 13, place = "Нижний Новгород" };
      Person person4 = new Person() { id = 4, name = "Ольга", age = 31, place = "Тверь" };
      Person person5 = new Person() { id = 5, name = "Павел", age = 30, place = "Москва" };
      Person person6 = new Person() { id = 6, name = "Елена", age = 43, place = "Мурманск" };
      Person person7 = new Person() { id = 7, name = "Екатерина", age = 7, place = "Балашиха" };
      Person person8 = new Person() { id = 8, name = "Семен", age = 40, place = "Владивосток" };
      Person person9 = new Person() { id = 9, name = "Александр", age = 9, place = "Хабаровск" };
      Person person10 = new Person() { id = 10, name = "Андрей", age = 10, place = "Новосибирск" };
      Persons.Add(person0);
      Persons.Add(person1);
      Persons.Add(person2);
      Persons.Add(person3);
      Persons.Add(person4);
      Persons.Add(person5);
      Persons.Add(person6);
      Persons.Add(person7);
      Persons.Add(person8);
      Persons.Add(person9);
      Persons.Add(person10);
      }

 <h4>1.5.3 Список людей </h4>
    <table border="1" cellpadding="6" style="border-color:lightgray">
        <tr style="background-color:whitesmoke">
            <td>№</td>
            <td>Имя</td>
            <td>Возраст</td>
            <td>Место рождения</td>
        </tr>
    @{foreach (Person person in Persons.Where(p => p.id > 0))
    {
        if (person.age >= 35)
        {
            <tr style="background-color:lightgoldenrodyellow">
                <td>@(person.id)</td>
                <td>@(person.name)</td>
                <td>@(person.age)</td>
                <td>@(person.place)</td>
            </tr>}
        else
        {
            <tr style="background-color:lightcyan">
                <td>@(person.id)</td>
                <td>@(person.name)</td>
                <td>@(person.age)</td>
                <td>@(person.place)</td>
            </tr>}
    }
    }
</table>

<h4>1.7 Вывод информации с помощью хелпера </h4>
@Helper2.Spisok(Persons, "Иван")<br />
@Helper2.Spisok(Persons, "Ольга")<br />
@Helper2.Spisok(Persons, "Семен")

<h4>3.1. сделать частичное представление с выводом информации по человеку, и вывести информацию по 5ти человекам</h4>
<pre>
@Html.Partial("_PersonInfo", person1)
@Html.Partial("_PersonInfo", person2)
@Html.Partial("_PersonInfo", person3)
</pre>
}

@section RightBar {
@Html.ActionLink("Разор тест", "RazorExample", "Examples")<br />
@Helper1.Summ(11, 22)<br />
}

@section Footer {
    <p>&copy; @DateTime.Now.Year - Учебный проект "Новостной движок", @ViewBag.Title.</p>
}