<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>@ViewBag.Title</title>
    @Styles.Render("~/Content/css")
    @Scripts.Render("~/bundles/modernizr")

</head>
<body><!-- style="background-color: LightSteelBlue"> -->

    <!-- Шапка -->
    @*<div class="container fixed-top" style="background-color: ghostwhite"><img src="/images/title.jpg" style="margin-left: -15px;"></div>*@ <!-- navbar - отступ снизу -->

    <!-- Меню -->
    <div class="navbar navbar-inverse navbar-fixed-top">
        <div class="container">
            <div class="navbar-header">
                <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
                @*@Html.ActionLink("Блог", "Index", "Message", null, new { @class = "navbar-brand" })*@
            </div>
            <div class="navbar-collapse collapse">
                <ul class="nav navbar-nav">
                    <li>@Html.ActionLink("Блог", "Index", "Messages")</li>
                    @*<li>@Html.ActionLink("Home", "Index", "Home")</li>
                    <li>@Html.ActionLink("About", "About", "Home")</li>
                    <li>@Html.ActionLink("Contact", "Contact", "Home")</li>*@
                </ul>
                @Html.Partial("_LoginPartial")
            </div>
        </div>
    </div>

    <!-- Тело -->
    <div class="container body-content"> <!-- style="background-color: ghostwhite" -->
        @RenderBody()
        <hr />
        <footer>
            <!-- <div class="container " style="background-color: ghostwhite; "> -->
                <p>&copy; @DateTime.Now.Year - Блог</p>
            <!-- </div> -->
        </footer>
    </div>

    <!-- Скрипты -->
    @Scripts.Render("~/bundles/jquery")
    @Scripts.Render("~/bundles/jqueryval")
    @Scripts.Render("~/bundles/bootstrap")
    @RenderSection("scripts", required: false)
</body>
</html>