@using PhoneBook.Models
@model List<RecordViewModel>

@{
    ViewBag.Title = "Home Page";
}    
    <div class="panel panel-default">
        <div class="panel-heading">
            <h3>Записи</h3>
            @Html.Partial("_Search")
        </div>

        <div class="panel-body">
            <table class="table table-striped table-bordered">
                <thead>
                    <tr>
                        <th class="col-md-3">Фамилия</th>
                        <th class="col-md-3">Имя</th>
                        <th class="col-md-3 text-right">Номер</th>
                        <th class="col-md-3 text-center">Действия</th>
                    </tr>
                </thead>
                <tbody>
                    @foreach (var record in Model)
                    {
                        <tr>
                            <td>@record.Surname</td>
                            <td>@record.Name</td>
                            <td class="text-right">@record.Phone</td>
                            <td class="text-center">
                                @Html.ActionLink("Редактировать", "Edit", "Home", new { Id = record.Id }, new { @class = "btn btn-default" })
                                @Html.ActionLink("Удалить", "Remove", "Home", new { Id = record.Id }, new { @class = "btn btn-default" })
                            </td>
                        </tr>
                    }
                </tbody>
            </table>
        </div>

        <div class="panel-footer">
            @Html.ActionLink("Добавить", "Add", "Home", null, new { @class = "btn btn-primary" })
            @Html.ActionLink("Экспорт в Excel", "ExportToExcel", "Home", null, new { @class = "btn btn-default" })
        </div>
        
    </div>


