@model Blog.Models.Message

@{
    ViewBag.Title = "Details";
}
@*@using (Ajax.BeginForm("AjaxFormExample", "Page", new AjaxOptions { UpdateTargetId = "results" }))*@
@using (Html.BeginForm())
{

<div>
    <h3>@Html.DisplayFor(model => model.Title)</h3>
    <h5>@Html.DisplayFor(model => Model.PublishDate)</h5>
    <hr />
    <div>@Html.DisplayFor(model => model.Text)</div>
</div>
<hr />
<p>
    @Html.ActionLink("Добавить комментарий", "Create", "Replies", new { id = Model.Id }, null) | @*!!! Отсюда Message.Id пойдет в Replies/public ActionResult Create(int? id) !!!*@
    @Html.ActionLink("Редактировать", "Edit", new { id = Model.Id }) |
    @Html.ActionLink("Назад", "Index")
</p>
<hr />
<div>
    @foreach (var Reply in Model.Replies)
    {
        <div>
            <b>Гость</b>  @Reply.PublishDate <br>
            @Reply.Text <br>
            @Html.ActionLink("Удалить комментарий", "Delete", "Replies", new { ReplyId = Reply.Id }, null) |
            @Html.ActionLink("Редактировать комментарий", "Edit", "Replies", new { ReplyId = Reply.Id }, null)
            <br><br>
        </div>
    }
</div>
}