@model NewsEngine.Models.Reply

@{
    ViewBag.Title = "Create";
}

<h2>Create</h2>

@using (Html.BeginForm()) 
{
    @Html.AntiForgeryToken()
    
    <div class="form-horizontal">
        <h4>Reply</h4>
        <hr />
        @Html.ValidationSummary(true)

        <div class="form-group">
            @Html.LabelFor(model => model.Text, new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.Text)
                @Html.ValidationMessageFor(model => model.Text)
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.PublishDate, new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.PublishDate)
                @Html.ValidationMessageFor(model => model.PublishDate)
            </div>
        </div>          
            @*!!! Теперь Message.Id в @ViewBag.MessageId, который нигде не пишем, чтобы не было видно, но он есть :)
    Дальше он пойдет через скрытое поле попадет в Controllers/Replies/Create [post] в переменную MessId!!!*@
        <div>
            <input type="hidden" value="@ViewBag.MessageId" name="MessId" /> @*http://metanit.com/sharp/mvc5/4.6.php*@
        </div>

        @*<div class="form-group">
    @Html.LabelFor(model => model.MessageId, "MessageId", new { @class = "control-label col-md-2" })
    <div class="col-md-10">
        @Html.DropDownList("MessageId", String.Empty)
        @Html.ValidationMessageFor(model => model.MessageId)
    </div>
        </div>*@

        <div class="form-group">
            <div class="col-md-offset-2 col-md-10">
                <input type="submit" value="Create" class="btn btn-default" />
            </div>
        </div>
    </div>
}

<div>
    @Html.ActionLink("Back to List", "Index")
</div>

@section Footer {
    <p>&copy; @DateTime.Now.Year - Учебный проект "Новостной движок", @ViewBag.Title.</p>
}